// theming
.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editorContainer {
  margin: 20px auto 20px auto;
  border-radius: 2px;
  max-width: 600px;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}